.nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.list-container {
		display: flex;
		margin-right: 100px;
		margin-top: 20px;
		li {
			margin-left: 50px;
			list-style-type: none;
			text-decoration: none;
			padding: 10px 20px 10px 20px;
			border-radius: 20px;
			border: 10px groove;
			background-color: #05386b;

			.selected {
				color: #379683;
			}
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}
